test/flows.json
[{"id":"13d17366.7e893d","type":"tab","label":"OT-Simulator Node","disabled":false,"info":""},{"id":"3caf7795.74b268","type":"mqtt in","z":"13d17366.7e893d","name":"Subscribe: ecv/system","topic":"ecv/system","qos":"1","datatype":"auto","broker":"821ad829.7311d8","nl":false,"rap":false,"inputs":0,"x":140,"y":60,"wires":[["dd2147d1.da2ab8"]]},{"id":"b856ad86.aacb8","type":"mqtt in","z":"13d17366.7e893d","name":"Subscribe: ecv/thermostat/rawdata","topic":"ecv/thermostat/rawdata/#","qos":"2","datatype":"auto","broker":"821ad829.7311d8","nl":false,"rap":false,"inputs":0,"x":180,"y":100,"wires":[["a05d1bab.9fb678","822fff75.442c8"]]},{"id":"89cf3c1a.e3797","type":"mqtt out","z":"13d17366.7e893d","name":"","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"821ad829.7311d8","x":750,"y":1080,"wires":[]},{"id":"dd2147d1.da2ab8","type":"debug","z":"13d17366.7e893d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"a05d1bab.9fb678","type":"debug","z":"13d17366.7e893d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"faabe7ee.1b8698","type":"inject","z":"13d17366.7e893d","name":"Rawdata: Status Msg Type 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"80000200","payloadType":"str","x":720,"y":380,"wires":[["89cf3c1a.e3797"]]},{"id":"57e42f9f.c1abe","type":"inject","z":"13d17366.7e893d","name":"Rawdata: Room setpoint","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"10010000","payloadType":"str","x":710,"y":460,"wires":[["89cf3c1a.e3797"]]},{"id":"faf218ce.177e38","type":"inject","z":"13d17366.7e893d","name":"Rawdata: Relative modulation","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"80111480","payloadType":"str","x":720,"y":500,"wires":[["89cf3c1a.e3797"]]},{"id":"519fabf9.c1f484","type":"inject","z":"13d17366.7e893d","name":"Rawdata: Boiler water temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"00191480","payloadType":"str","x":740,"y":540,"wires":[["89cf3c1a.e3797"]]},{"id":"345801fc.f39c4e","type":"inject","z":"13d17366.7e893d","name":"Rawdata: DHW temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"001A1480","payloadType":"str","x":720,"y":660,"wires":[["89cf3c1a.e3797"]]},{"id":"2ab458a8.530128","type":"inject","z":"13d17366.7e893d","name":"Rawdata: CH water pressure","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"80121480","payloadType":"str","x":720,"y":620,"wires":[["89cf3c1a.e3797"]]},{"id":"1464f74b.c25849","type":"inject","z":"13d17366.7e893d","name":"Rawdata: DHW flow rate","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"00131480","payloadType":"str","x":710,"y":780,"wires":[["89cf3c1a.e3797"]]},{"id":"4b581273.61ea5c","type":"inject","z":"13d17366.7e893d","name":"Rawdata: DHW setpoint","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"00381480","payloadType":"str","x":700,"y":820,"wires":[["89cf3c1a.e3797"]]},{"id":"d2434d88.cac1d","type":"inject","z":"13d17366.7e893d","name":"Rawdata: Room temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"00181481","payloadType":"str","x":720,"y":900,"wires":[["89cf3c1a.e3797"]]},{"id":"2b3af8ee.5d27d8","type":"inject","z":"13d17366.7e893d","name":"Rawdata: Application specific flags","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"00050000","payloadType":"str","x":740,"y":940,"wires":[["89cf3c1a.e3797"]]},{"id":"30fd063b.2d8dca","type":"inject","z":"13d17366.7e893d","name":"Overrride: Set max rel modulation 85","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/command/max_rel_modulation","payload":"85","payloadType":"str","x":180,"y":380,"wires":[["89cf3c1a.e3797"]]},{"id":"bd831525.a328a8","type":"inject","z":"13d17366.7e893d","name":"Fault set","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/status/fault","payload":"1","payloadType":"str","x":100,"y":940,"wires":[["89cf3c1a.e3797"]]},{"id":"4eb9a94b.464c98","type":"inject","z":"13d17366.7e893d","name":"Flame ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/status/flame","payload":"1","payloadType":"str","x":120,"y":1020,"wires":[["89cf3c1a.e3797"]]},{"id":"fe721a6f.7675c8","type":"inject","z":"13d17366.7e893d","name":"Fault cleared","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/status/fault","payload":"0","payloadType":"str","x":310,"y":940,"wires":[["89cf3c1a.e3797"]]},{"id":"3d6930ed.7839b","type":"inject","z":"13d17366.7e893d","name":"Flame OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/status/flame","payload":"0","payloadType":"str","x":310,"y":1020,"wires":[["89cf3c1a.e3797"]]},{"id":"668d44d5.4b0dfc","type":"inject","z":"13d17366.7e893d","name":"CH Mode ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/status/ch_mode","payload":"1","payloadType":"str","x":130,"y":980,"wires":[["89cf3c1a.e3797"]]},{"id":"73fcc323.bad22c","type":"inject","z":"13d17366.7e893d","name":"CH Mode OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/status/ch_mode","payload":"0","payloadType":"str","x":320,"y":980,"wires":[["89cf3c1a.e3797"]]},{"id":"88bcc1ac.7d96","type":"inject","z":"13d17366.7e893d","name":"Rawdata: Max modulation level","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"000E1480","payloadType":"str","x":730,"y":700,"wires":[["89cf3c1a.e3797"]]},{"id":"d554f2dd.43695","type":"inject","z":"13d17366.7e893d","name":"Rawdata: Max CH water setpoint","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"00391480","payloadType":"str","x":730,"y":740,"wires":[["89cf3c1a.e3797"]]},{"id":"d65176e4.bd3758","type":"inject","z":"13d17366.7e893d","name":"Rawdata: DHW setpoint","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"00381480","payloadType":"str","x":700,"y":860,"wires":[["89cf3c1a.e3797"]]},{"id":"95649e1e.06c26","type":"inject","z":"13d17366.7e893d","name":"Override: Set Control CH setpoint 65","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/command/control_ch_setpoint","payload":"65.00","payloadType":"str","x":180,"y":420,"wires":[["89cf3c1a.e3797"]]},{"id":"5e621edd.aad68","type":"inject","z":"13d17366.7e893d","name":"Override: Set Max CH water setpoint 75","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/command/max_ch_water_setpoint","payload":"75","payloadType":"str","x":190,"y":460,"wires":[["89cf3c1a.e3797"]]},{"id":"969e63e5.62798","type":"inject","z":"13d17366.7e893d","name":"Override: DHW Setpoint 65","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/command/dhw_setpoint","payload":"65.00","payloadType":"str","x":150,"y":500,"wires":[["89cf3c1a.e3797"]]},{"id":"2a67b00e.25435","type":"inject","z":"13d17366.7e893d","name":"Input: Water pressure CH 3.00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/sensors/water_pressure_ch","payload":"3.00","payloadType":"str","x":160,"y":620,"wires":[["89cf3c1a.e3797"]]},{"id":"dd9752ee.8ff8a","type":"inject","z":"13d17366.7e893d","name":"Input: Outside Temperature 5.25","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/sensors/outside_temperature","payload":"5.25","payloadType":"str","x":170,"y":660,"wires":[["89cf3c1a.e3797"]]},{"id":"3d07fec1.70ddb2","type":"inject","z":"13d17366.7e893d","name":"Input: Heater flow Temp 52.13","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/sensors/heater_flow_temperature","payload":"52.13","payloadType":"str","x":160,"y":700,"wires":[["89cf3c1a.e3797"]]},{"id":"ab20ea05.dc7908","type":"inject","z":"13d17366.7e893d","name":"Input: Return water temperature 42","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/sensors/return_water_temperature","payload":"42","payloadType":"str","x":180,"y":740,"wires":[["89cf3c1a.e3797"]]},{"id":"8214317c.1e7c8","type":"inject","z":"13d17366.7e893d","name":"Input: Water flow DHW 1.8","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/sensors/water_flow_dhw","payload":"1.80","payloadType":"str","x":150,"y":780,"wires":[["89cf3c1a.e3797"]]},{"id":"f7ed66c4.0854f8","type":"inject","z":"13d17366.7e893d","name":"Input: DHW Temperature 38.13","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/sensors/dhw_temperature","payload":"38.13","payloadType":"str","x":170,"y":820,"wires":[["89cf3c1a.e3797"]]},{"id":"1e970945.3c1f47","type":"inject","z":"13d17366.7e893d","name":"Rawdata: Slave config Msg type 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"00030100","payloadType":"str","x":740,"y":420,"wires":[["89cf3c1a.e3797"]]},{"id":"ed113b19.a16878","type":"inject","z":"13d17366.7e893d","name":"Rawdata: Return water temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ecv/rawdata/command","payload":"001C1480","payloadType":"str","x":740,"y":580,"wires":[["89cf3c1a.e3797"]]},{"id":"e383c983.b3d3b8","type":"mqtt in","z":"13d17366.7e893d","name":"Subscribe: ecv/thermostat/modulation","topic":"ecv/thermostat/modulation","qos":"2","datatype":"auto","broker":"821ad829.7311d8","nl":false,"rap":false,"inputs":0,"x":190,"y":140,"wires":[["7e0427aa.fbba98"]]},{"id":"ea873f6d.39a2a","type":"mqtt in","z":"13d17366.7e893d","name":"Subscribe: ecv/thermostat/ch_requested","topic":"ecv/thermostat/ch_requested","qos":"2","datatype":"auto","broker":"821ad829.7311d8","nl":false,"rap":false,"inputs":0,"x":200,"y":180,"wires":[["7e0427aa.fbba98"]]},{"id":"7e0427aa.fbba98","type":"debug","z":"13d17366.7e893d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"822fff75.442c8","type":"file","z":"13d17366.7e893d","name":"","filename":"/data/openterm-gateway.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":740,"y":100,"wires":[[]]},{"id":"8909ba9c.7b3588","type":"mqtt in","z":"13d17366.7e893d","name":"Subscribe: ecv/thermostat/boilertemp","topic":"ecv/thermostat/boilertemp","qos":"2","datatype":"auto","broker":"821ad829.7311d8","nl":false,"rap":false,"inputs":0,"x":190,"y":220,"wires":[["7e0427aa.fbba98"]]},{"id":"57a7fdd5.ad8c14","type":"mqtt in","z":"13d17366.7e893d","name":"Subscribe: ecv/thermostat/returntemp","topic":"ecv/thermostat/returntemp","qos":"2","datatype":"auto","broker":"821ad829.7311d8","nl":false,"rap":false,"inputs":0,"x":190,"y":260,"wires":[["7e0427aa.fbba98"]]},{"id":"1526d01afab28249","type":"comment","z":"13d17366.7e893d","name":"MQTT Received messages","info":"","x":150,"y":20,"wires":[]},{"id":"0953dc8887ad3495","type":"comment","z":"13d17366.7e893d","name":"STATUS Messages","info":"","x":130,"y":900,"wires":[]},{"id":"d1bf14cc92cbabd4","type":"comment","z":"13d17366.7e893d","name":"MQTT Command to override software default settings","info":"","x":240,"y":340,"wires":[]},{"id":"08b4849d579ea76c","type":"comment","z":"13d17366.7e893d","name":"MQTT Sensor value imputs","info":"","x":150,"y":580,"wires":[]},{"id":"b5d780ca9c59488a","type":"comment","z":"13d17366.7e893d","name":"Send OpenTerm Protocol messages for TESTING","info":"","x":760,"y":340,"wires":[]},{"id":"821ad829.7311d8","type":"mqtt-broker","name":"MQTT Broker","broker":"192.168.11.26","port":"1883","tls":"3e24dcee.707674","clientid":"NodeRED_Server","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"service","birthQos":"1","birthPayload":"NodeRED is connected","closeTopic":"service","closeQos":"1","closePayload":"NodeRED is disconnecting","willTopic":"service","willQos":"1","willPayload":"NodeRED something went wrong, disconnecting"},{"id":"3e24dcee.707674","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"mqtt.blocs-77.com","verifyservercert":false}]